
<%= form_with(model: [ @category, @task ], local: true, html: { class: "task-form" }) do |form| %>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  
  <div class="field">
    <%= form.label :due_date, "Due Date" %>
    <%= form.date_field :due_date, min: Date.today, value: @task.due_date %>
  </div>

  <div class="field">
    <%= form.label :category_id, "Select Category" %>
    <%= form.collection_select :category_id, current_user.categories, 
                               :id, :name, { selected: task.category_id, prompt: "Select a Category" }, 
                               class: "category-dropdown" %>
  </div>

  <div class="actions">
    <%= button_tag(type: "submit", class: "btn") do %>
      <i class="fa-solid fa-floppy-disk"></i> &nbsp;Save Task
    <% end %>

  </div>
 
<% end %>



