<div class = "edit-task-container">
  <h1>Edit Task&nbsp; <i class="fa-solid fa-pencil"></i></h1>
    <% if @task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
  <%= render "form", task: @task %>
  
  <div class = "task-edit-actions">
    <%= link_to session[:return_to] || tasks_path, class: "btn" do %>
      <i class="fa-solid fa-arrow-left"></i> &nbsp; Back
    <%end%>
    <%= link_to category_task_path(@task.category, @task), 
			data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, 
			class: "btn" do %>
				<i class="fa-solid fa-trash"></i>&nbsp; Delete Task
		<%end%>
	</div>
</div>