<div class = "today">
	<h1>ðŸ“Œ Available Tasks</h1>
	
	<h2>Today's Tasks</h2>
	<% if @tasks_today.any? %>
			<ul>
			<% @tasks_today.each do |task| %>
					<li>
					<%= link_to category_task_path(task.category, task) do%>
							âœ… <%= task.description %> (from <%= task.category.name %>)
					<%end%>
					</li>
			<% end %>
			</ul>
	<% else %>
			<p>No tasks due today ðŸŽ‰</p>
	<% end %>

	<h2>Upcoming Tasks</h2>
	<% if @upcoming_tasks.any? %>
			<ul>
			<% @upcoming_tasks.each do |task| %>
					<li>
					<%= link_to category_task_path(task.category, task) do%>
							âœ… <%= task.description %> (from <%= task.category.name %>)
					<%end%>
					</li>
			<% end %>
			</ul>
	<% else %>
			<p>No upcoming tasks ðŸŽ‰</p>
	<% end %>

	<%= link_to 'ðŸ“‹ Add New Task', new_category_task_path(1), class: "btn" %>
  <%= link_to 'â¬…ï¸ Back to Categories', categories_path, class: "btn" %>
</div>