
<%= form_with(model: @category, local: true, html: { class: "category-form" }) do |form| %>
  <div class="field">
    <%= form.label "Category Name" %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "ðŸ’¾ Save Category", class: "btn"%>
  </div>
<% end %>
<%= link_to 'â¬…ï¸ Back to Categories', categories_path, class: "btn" %>